* {
    margin: 0px;
}


.container {
    width:768px;
    height: 1024px;
    background-color: transparent;
    margin: auto;
}


.body {
    position: relative;
    bottom: 20px;
}

/*typefaces*/
h1 {
    font-family: 'Alfa Slab One', cursive;
    color: #c53739;
    letter-spacing: 1.2px;
}


h2 {
    font-family: 'Patua One', cursive;
    letter-spacing: 1.2px;
    font-size: 23px;
    text-align: center;
    color: white; 
}

.menu h2 {
      font-family: 'Patua One', cursive;
    letter-spacing: 1.2px;
    font-size: 23px;
    text-align: center;
    color: white; 
    margin: auto;

}

p {
    font-family: "roboto",sans-serif;
    font-size: 20px;
}


/*title*/
.title {
    width: 768px;
    height: 233px;
   
    margin: auto;
    margin-bottom: 54px;
}

.not_title {
    position: relative;
    bottom: 100px;
}



.presidents {
    width: 768px;
    height: 380px; 
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    top: 50px;
    left: 20px;
    
}

.description {
    width: 364px;
    height: 254px;
    margin: auto;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    top: 30px;
    
}


.bigpresbox {
    width: 229px;
    height: 309px;
    padding-top: 10px;
 background-color: transparent;
    
    
}

#georgebox {
   
    position: relative;
    top: 63px; 
}

#georgebox img {
    position: relative;
    top: -95px;
    left: -3px;
    
}

#abebox {

    position: relative;
    top: -300px;
    margin: auto;
}

#abebox img {
    position: relative;
    bottom: 98px;
    right: 3px;
}

#georgebox img {
    position: relative;
    right: 110px;
    bottom: 20px;
}

#teddybox img {
    position: relative;
    right: 3px;
    bottom: 95px;

}

#teddybox {
   
    float: right;
    position: relative;
    bottom: 577px;
}

.presbox {
    width: 200px;
    height: 300px;
    background-color: transparent
    margin: auto;
    margin-bottom: 10px;

}

.label{
    width: 144px;
    height: 25px;
    margin: auto;
    position: relative;
    top: 15px;

}

.button1 {
    width: 170px;  
    height: 60px;
    background-color: #c53739;
    border-radius: 10px;
    margin: auto;
    display: block;
}


#desc_frame {
    width: 420px;
    height: 253px;
    background-color: #f6d8c3;
    padding: 30px;
    border-radius: 15px;
    margin-left: 
}

.img_back {
    width:190px;
    height: 190px;
    margin: auto;
    position: absolute;
    background-color: blue;
    border-radius: 20px;
    margin: auto;
}

#georgebutton {
    position: relative;
    bottom: 100px;
    right: 18px;
}

#abebutton {
    position: relative;
    bottom: 100px;
    right: 18px;
}

#teddybutton {
    position: relative;
    bottom: 100px;
    right: 18px;
}





