*{
margin: 0px;
font-family: montserrat;
    
}


.margin {
    
    margin: auto;
}


/*TYPEFACES
8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
h1 {
 font-family: superclarendon, serif;
font-weight: 700;
font-style: normal;
}

h2 {
    font-family:montserrat;
    font-weight: 500;  
}

.link {
    font-weight: 500;
    color: skyblue;
}

.description {
    font-family: montserrat;
    font-weight: 400;
    
    margin-bottom: 2rem;
    font-size: 1rem;
}

.heading {
    font-family: montserrat;
    font-weight: 700;
    font-size: 1.3rem;
    color: darkslategray;
    margin-bottom: .2rem;
}

.title {
    font-family: superclarendon, serif;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    
}

 

/*TAKE 3 888888888888*/

.home_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.home_container_small {
    width: 27%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.home_container_small img{
    width: 100%;
}

.home_link {
    text-align: center;
    text-decoration: none;
}










/*HERO CONTENT
8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
    .content_flex {
        display: flex;
        flex-direction: column;
        
    }
    
    .hero_flex {
        display: flex;
    }
    
    .page_flex {
        display: flex;
    }
    
    .bottom_flex {
        display: flex;
    }



.hero_title_container {
    width: 100%;
   
}

.hero {
    width: 100%;
}

.hero img {
    width: 100%;
}

.name {
    width: 70%;
    height: 40%;  
}












/*NEW PAGE CONTENT
8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/


#images_front {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.container {
    margin: 1rem;
    width: 25%;
}



.container img{
    width: 100%;
}

#front_link {
    text-align: center;
    color: navy;
}





















/*OLD PAGE CONTENT
8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/







/*BOTTOM
8888888888888888888888888888888888888888888F888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/

.bottom {
    width: 100%;
    height: 10rem;
    background-color: #0D2039;
    padding-top: 3rem;
    color: white;
}

.bottom img {
    margin-top: 1rem;
    margin-right: .3rem;
    width: 2.5rem;
}


































/*MEDIA QUERY 1
8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/

@media only screen and (max-width:600px) {
 

.container {
    width: 100%;
    margin: 0px;
}



.container img{
    width: 100%;
}
    
    
    .hero {
        margin-top: 3rem;
    }
 
    
    
   .resume_container {
        margin-top: 3rem;
    } 
    
    
    
    
    

.mobile_menu {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    position: relative;
    bottom: 8rem;
    margin-left: 5%;
}
    
    .menu {
    visibility: hidden;
    
    }
        
    .name {
        margin: auto;
        font-size: 90%;
    }
    
    .name h2 {
        line-height: 1.5rem;
    }
    
    .project_container{
        width: 100%;
        margin: 2rem;
        
    }
    
    
    .home_container_small {
        width: 100%;
        margin: 0px;
    }
    
    .margin {
        width: 90%;
    }
    
    .name {
        visibility: hidden;
        height: .1rem;
    }
    
    
    
      .low_title h2 {
        font-size: 1.1rem;
    }
    
    .low_title h1 {
        font-size: 2rem;
    }
    
    .low_title_container {
        margin-bottom: 2rem;
        margin-top: 1rem;
        margin-left: 5%;
    }
    
    

    
}




/*MEDIA QUERY 2
8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    


    .container{
        width: 31%;
        margin: .2rem;
    }
    
     .margin {
        width: 90%;
    }
    
     .hero {
        margin-top: 3rem;
    }
    
    .resume_container {
        margin-top: 3rem;
    }
    
    .name {
        visibility: hidden;
        height: .1rem;
    }
    
    .low_title {
        text-align: left; 
        font-size: 1.2rem;
        margin-left:12.6%;
    }
    
    .low_title h2 {
        font-size: 1.3rem;
        
      
    }
    
    .low_title h1 {
        font-size: 2.8rem;
    }
    
    .low_title_container {
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    
    .home_container_small {
        margin-left: .2rem;
        margin-right: .2rem;
    }
    
    .home_container_small p{
        font-size: .9rem;
    }
    
    
}






/*MEDIA QUERY 3
8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
@media only screen and (min-width:1000px) {


    .page {
        width:100%;
        display: flex;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }    
    
    .project_container {
        width: 33%;
        
        margin: 1rem;
        
    }
        
    
    .menu {
width: 100%;
height: 3rem; 

}

    
.menu_button {
height: 100%;
width: 5rem;
background-color: white;
border-color: none;


}
    
.name {   
    position: relative;
    bottom: 40%;  
    padding-left: 10%;
    font-size: 2rem;
    width: 100%;
    color: white;
    line-height: 1.5rem;
}

    .name h2 {
    font-size: 2rem;
    }
   
    #home_margin {
        width: 78%;
        margin: auto;
    }
    
    .low_title {
        visibility: hidden;
        height: .1rem;
    }