
/*PAGE SPACING  
888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
body {
    width: 100%;
}


.page2 {
    width: 100%;
    margin: auto;
}

.margin {
    width: 60%;
    margin: auto;
}

.margin_image {
    width: 60%;
    margin: auto;
}

.bottom {
    margin-top: 2rem;
}







/*TEXT CONTENT  
888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/

.title {
    width: 100%;
    margin: auto;
    text-align: center;
}

.description {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.heading {
    text-align: left;
}

.quote {
    font-family: superclarendon;
}

.cite {
    font-family: superclarendon;
    font-style: italic;
    font-weight: 300;
    
}











/*PROJECT IMAGES  
888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/


.imagebox_container {
    display:flex;
    flex-direction: row;
    padding-bottom: 2rem;
    
}

.imagebox_half {
    display: flex;
    width: 50%;
}



.half1 {
   
}

.half2 {
    
}

.picduo {
    display: flex;
    flex-wrap:wrap;
}

.picduo img{
    width: 48%;
    margin: .1rem;
}

.picsolo img {
    width: 97.2%;
}

.picstack_row {
    display: flex;
    flex-wrap: wrap;
}

.picstack {
    width: 30%;
}

.picstack img{
    width: 100%;
}


/*PROJECT IMAGES  
888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/

.double_images_container {
    display: flex;
    flex-wrap: wrap;
}

.double1 {

    width: 39%;
}

.double2 {
    width: 61%;
}

.double_row {
    width: 100%;
}


.double_row img{
    width: 32%;
}


.double2 img {
    width: 100%;
}











/*QUOTE CSS 
888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
.quotebox{
    background-color:#0D2039;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.quote {
    color: white;
}

.cite {
    color: white;
    text-align: right;
    margin-right: 45%;
    
}








/*PAGE SPECIFIC 
888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/





/*ABOUT ME SPECIFIC
888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/



/*********/
.about_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.about1 {
    width: 30%;
     
}

.about1 img{
    width: 100%;
}

.about2 {
    width: 60%;
    padding: 1.5rem;
}

#aboutme_title {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#about_heading {
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

#about_description {
    margin-top: 0px;
}






/*ACE SPECIFIC
888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/



#posters { 
    display: flex;
    flex-direction: column;

}

#posters img {
  width: 32%;
}

#posters_top {
    width: 100%;
}
#posters_bottom {
    width: 100%; 
}

#posters_half2 {
    display: flex;
   width: 100%;
}

#work {
    width: 80%;
    margin: auto;
    
}

#posters_half2 img {
    width: 100%;
}

/*************/

#double1_email {
    width: 50%;
}

#double1_email img{
    width: 49%;
}

#double2_email {
    width: 50%;
}

/*************/

.complex_frame {
    display: flex;
    flex-wrap: wrap;
}

.complex1 {
    width: 71.5%;
}

.complex2 {
    width: 28.5%;
}

.complex2 img {
    width: 100%;
}

.complex_top{
    width: 96.4%
}

.complex_top img{
    width: 100%
}

.mid_frame {
    display: flex;
    flex-wrap: wrap;
}

.mid1 {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}

.mid_sub1 {
    display: flex;
    flex-wrap: wrap;
}

.mid_sub1 img{
    width: 48%;
}

.mid_sub2 {
    width: 100%;
}

.mid_sub2 img{
    width: 98%;
}

.mid2 {
    width: 51.4%;
    display: flex;
    flex-wrap: wrap;
}

.mid2 img{
    width: 100%;
}





/*RESUME SPECIFIC
888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/

.resume_row {
    display: flex;
    flex-direction: row;
}

.resume_half1 {
    width: 65%;
    margin-right: 2rem;
}

.resume_half2 {
    width: 30%;
    font-size: .7rem;
    color: gray;

}

.position_dates {
    visibility: hidden;
    height: .1rem;
}











/*CLASSY ANIMALS SPECIFIC
888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/

.animals_finals {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    
}

.animals_finals img {
    width: 23%;
    margin: .1rem;
}




.work2 {
    margin: auto;
}

#half1_animals {
    display: flex;
    flex-wrap: wrap;
}

#animals_top {
    width: 100%;
}

#animals_top img {
    width: 48%;
}

#animals_bottom {
    width: 100%;
}

#animals_bottom img {
    width: 48%;
}

#half2_animals img{
    width: 100%;
}

.graybox {
        width: 100%;
        background-color: lightgray;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin:auto;
    

    }


/*TYPE SPEC BOOK SPECIFIC
888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/

















































/*MEDIA QUERIES
888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/








/*MEDIA QUERY 1
8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/

@media only screen and (max-width:600px)  {
    
    /*SPACING 888888888888888888888888888*/
    .margin_image {
    width: 100%;
    }
    
    
    
    /*PROJECT IMAGES8888888888888888888888888*/
    .imagebox_container {
    flex-direction: column;
    }    
    
    .imagebox_half {
    width: 100%;
}
    
    .picduo img{
    width: 100%;
    margin: .1rem;
}
    .picsolo img {
    width: 100%;
}
    
    .picstack {
    width: 100%;
}
    
    
.double1 {
   
    width: 100%;
}

.double2 {
    width: 100%;
}
  
    
 /*ACE8888888888888888888888888*/  
   #double1_email {
    width: 100%;
}

#double2_email {
    width: 100%;
}
    
    /**********/
    .complex1 {
    width: 100%;
    }
    .complex2 {
    width: 100%;
    }
    
    .mid1 {
        width: 100%;
    }
    
    .mid2 {
        width: 100%;
    }
    
    /*ABOUT888888*/
    .about_container{
        margin-top: 0rem;
        
    }    
    
.about1 {
    visibility: hidden;
}

.about2 {
    width: 100%;
}
 
 
    
     /*CLASSY ANIMALS8888888888888888888888888*/
    .animals_finals img {
    width: 48%;
}
    


    
.mobile_menu {
    width: 4rem;
    height: 4rem;
    background-color: green;
    position: relative;
    bottom: 8rem;
    margin-left: 5%;
} 
    .spacing {
        width: 100%;
    }
    
    .spacing2 {
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
    }
    
    .image_wrap {
        flex-direction: column;
    }
    
    .image1 {
        width: 100%;
        height: 15rem;
    }
    
    .image2 {
        width: 100%;
        height 15rem;
    }   
}



/*MEDIA QUERY 2
8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    
    /*SPACING 888888888888888888888888888*/
    .margin_image {
    width: 90%;
    margin:auto;
    }
    
    #half1 {
        background-color: red;
    }
    
 
       /*ABOUT888888*/
.about1 {
    visibility: hidden;
}

.about2 {
    width: 100%;
}

    
    /*PROJECT IMAGES8888888888888888888888888*/

    
    
    /*OLD CONTENT 8888888888888888888888888*/
.mobile_menu {
    width: 4rem;
    height: 4rem;
    background-color: green;
    position: relative;
    bottom: 8rem;
    margin-left: 5%;
} 
    .spacing {
        width: 100%;
    }
    
    .spacing2 {
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
    }
    
    .image_wrap {
        flex-direction: column;
    }
    
    .image1 {
        width: 100%;
        height: 15rem;
    }
    
    .image2 {
        width: 100%;
        height 15rem;
    }   
}








/*MEDIA QUERY 3
8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
@media only screen and (min-width:1000px) {

    .page {
        display: flex;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }  
    

    
    
    .menu {
width: 100%;
height: 3rem; 
}
    
.name {   
    position: relative;
    bottom: 40%;   
}

    .spacing{
        width: 60rem;
    }
  

    .description
    .heading {
        width: 54rem;
        }
    
}