*{
margin: 0px
}

.menu {
background-color: lightblue;
}


.hero_title_container {
    width: 100%;
    height: 12.5rem;
    background-color: rebeccapurple;
}

.hero {
    width: 100%;
    height: 100%;
    background-color: lightgray;
}


.page {
    width: 100%;
    margin: auto;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
}

.description {
    width: 75%;
    height: 6rem;
    background-color: red;
    margin: auto;
    display: flex;
    margin-bottom: 2rem;

}

.project_container {
    width: 100%;
    display: flex;
    margin-bottom: 3rem;   
}


.spacing {
    width: 80%;
    margin:auto;
}

.name {
    width: 70%;
    height: 40%;
    background-color: blue; 
}

.images_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.project_image {
    background-color:lightgoldenrodyellow;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;   
}

.image_wrap {
    width: 100%;
    display: flex;
}

.image1 {
    display: flex;
    width: 50%;
    height: 15rem;
    background-color: lightblue;
}

.image2 {
    display: flex;
    width: 50%;
    height: 15rem;
    background-color: lightcoral;
}



.more_info{
    display: flex;
    width: 100%;
    height: 10rem;
    background-color: red;
    margin-bottom: 2rem;

}

.bottom {
    width: 100%;
    height: 10rem;
    background-color: greenyellow
}








@media only screen and (max-width:800px) {


    
.mobile_menu {
    width: 4rem;
    height: 4rem;
    background-color: green;
    position: relative;
    bottom: 8rem;
    margin-left: 5%;
}
    

        


    .name {
        margin: auto;
        position:relative;
        bottom: 4rem;
    }
    
    
    
    .spacing {
        width: 100%;
    }
    
    .spacing2 {
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
    }
    
    .image_wrap {
        flex-direction: column;
    }
    
    .image1 {
        width: 100%;
        height: 15rem;
    }
    
    .image2 {
        width: 100%;
        height 15rem;
    }
    
    
}



@media only screen and (min-width:800px) {

    .page {
        display: flex;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }  
    

    
    
    .menu {
width: 100%;
height: 3rem; 
}
    
.name {   
    position: relative;
    bottom: 40%;   
}

    .spacing{
        width: 60rem;
    }
  

    .description {
        width: 54rem;
        }
}